.test {
  border: 1px solid red;
}

.rel {
  position: relative;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.overflow-visible {
  overflow: visible;
}
.overflow-hidden {
  overflow: hidden;
}

.clickable {
  cursor: pointer;
}
